<div class="jumbotron">
        <h1>Welcome to the news scraper for #site!</h1>
</div>
<div class = "row">
    <div class = "col-sm-4 col-sm-offset-10">
        <btn class="btn btn-primary" id="scrapeBtn">Scrape It!</btn>
    </div>
</div>
<div class ="col-lg-4 col-lg-offset-2">
    <p>Articles go here!</p>
</div>
    <!-- jquery cdn -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{assets}}/javascript/app.js"></script>