<div class="jumbotron">
        <h1>Welcome to the news scraper for TechNewsWorld!</h1>
</div>
<div class = "row">
    <div class = "col-sm-4 col-sm-offset-10" id="btnDiv">
        <btn class="btn btn-primary" id="scrapeBtn">Scrape It!</btn>
    </div>
</div>

    <!-- jquery cdn -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{assets}}/javascript/app.js"></script>