.jumbotron {
    background-image: url("http://allbanglanewspaper.net/template//slider/images/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.jumbotron h1 {
    text-align: center;
}

img {
    padding-bottom: 100px;
    border-bottom: 1px solid #ccc;
}